@tailwind base;
@tailwind components;
@tailwind utilities;


.green_gradient {
    @apply bg-gradient-to-r from-white to-purple-500 bg-clip-text text-transparent;
}

/* .outline_btn {
    @apply rounded-md border border-black bg-transparent py-1 px-1 text-black transition-all hover:bg-purple-600  text-sm  flex items-center justify-center;
  }
   */
  .outline_btn {
    @apply rounded-md border border-black bg-white py-1 px-1 text-black transition-all hover:bg-purple-600  text-sm flex items-center justify-center;
  }

  .analogous-blue-green {
    background-color: #009688;
    color: #FFFFFF; /* White for text contrast */
}

@keyframes spin-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-fast {
  animation: spin-fast 0.5s linear infinite;
}
